NODE_ENV=development
PORT=5000

APP_NAME=ZentraBank API
API_PREFIX=/api/v1

FRONTEND_URL=http://localhost:3000
SUPERADMIN_FRONTEND_URL=http://localhost:3001

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=zentrabank
DB_CONNECTION_LIMIT=10

JWT_ACCESS_SECRET=d79bd616378ad8b089a3d22450221ae6f4a12f5ea5fd808e5c964438ad443797a7c03b3c51a69b3ec8120172dcf17ee8b31e0c3092658d0e86f64f654e9ac905
JWT_REFRESH_SECRET=1a40c2ecba0976edc264741df8f0dee01a4116c050732f973f02c0fa50893d5962768cc6cb1741efd51ba8a3d28bed2498dea72febaf805d118996d211db07cf
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

PLATFORM_ADMIN_FIRST_NAME=Ugochukwu
PLATFORM_ADMIN_LAST_NAME=Onah
PLATFORM_ADMIN_EMAIL=admin@zentrabank.com
PLATFORM_ADMIN_PASSWORD=AdminSecurePassword123!

DEFAULT_TENANT_NAME=ZentraBank
DEFAULT_TENANT_SLUG=zentra-bank
DEFAULT_TENANT_DOMAIN=

TENANT_ADMIN_FIRST_NAME=Ugochukwu
TENANT_ADMIN_LAST_NAME=Onah
TENANT_ADMIN_EMAIL=tenant-admin@example.com
TENANT_ADMIN_PASSWORD=ChooseAnotherSecurePassword123!

FIRST_SUPERADMIN_FIRST_NAME=Ugochukwu
FIRST_SUPERADMIN_LAST_NAME=Onah
FIRST_SUPERADMIN_EMAIL=your-email@example.com
FIRST_SUPERADMIN_PASSWORD=ChooseASecurePassword123!