@import "tailwindcss";

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sf: "SF Pro", sans-serif;
  --font-lato: "Lato", sans-serif;
}

:root {
  --font-sf: "SF Pro", sans-serif;
  --font-lato: "Lato", sans-serif;

  --color-background: #a7c7e7;
  --color-soft-blue: #2e4053;
  --color-bank-green: #2e8b57;
  --color-primary-dark: #1f1f1f;
  --color-warning: #f4d03f;
  --color-error: #c0392b;
  --color-neutral-gray: #bdc3c7;
  --color-success: #27ae60;
  --color-button:1D4ED8;

  --color-card: #ffffff;
  --color-card-dark: #2e4053;

  --color-text-primary: #1f1f1f;
  --color-text-secondary: #5e6b76;

  --color-border: rgba(0, 0, 0, 0.08);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-lato);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: var(--font-sf);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}