NODE_ENV=development
PORT=5000

APP_NAME=ZentraBank API
API_PREFIX=/api/v1

FRONTEND_URL=http://localhost:3000
TENANT_ADMIN_FRONTEND_URL=http://localhost:3001
SUPERADMIN_FRONTEND_URL=http://localhost:3002

DEFAULT_TENANT_SLUG=zentrabank

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=zentrabank
DB_CONNECTION_LIMIT=10

JWT_ACCESS_SECRET=ea9b3e9016cda60a356ff4afbfaf5eccd67688d98458b0522db3d45d0fa0570ea73c95c36f0c0f8f35ded6ba406ffadb7441244b048ff7d2934c216d6f3511d6
JWT_REFRESH_SECRET=6e4b1ca8b0bc769d553a437cb19327a9a28acfef82f768b268e0babad3cd292d2591b265e699f1047e9b56f3cf0397c90fe8e26af9e10ac8a91afa3d4378120b
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

DEFAULT_TENANT_NAME=ZentraBank
DEFAULT_TENANT_SLUG=zentrabank
DEFAULT_TENANT_DOMAIN=

PLATFORM_ADMIN_FIRST_NAME=Platform
PLATFORM_ADMIN_LAST_NAME=Admin
PLATFORM_ADMIN_EMAIL=platform-admin@example.com
PLATFORM_ADMIN_PASSWORD=ReplaceThisPassword123!

TENANT_ADMIN_FIRST_NAME=Tenant
TENANT_ADMIN_LAST_NAME=Admin
TENANT_ADMIN_EMAIL=ugotest6@example.com
TENANT_ADMIN_PASSWORD=Fabulous@9595

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_API_VERSION=v25.0

PAYMENT_MODE=simulation